// Define breakpoints
$xs: 376px;
$sm: 576px;
$md: 768px;
$lg: 1024px;

// // Define colors main theme blue
// $color-primary: #00b4d8;
// $color-primary-light: #90e0ef;
// $color-primary-dark: #03045e;
// $color-primary-contrast: #F5F5F5;

// // Define colors secondary theme green
// $color-secondary: #00d1b2;
// $color-secondary-light: #a7ffeb;
// $color-secondary-dark: #00796b;